.checkout-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: $gold-colour;
}
.payment-buttons {
  position: relative;


}
.double-arr-1 {
  position: absolute;
  top: 212px;
  right: 45px;
  color: white;
}
.double-arr-2 {
  position: absolute;
  top: 314px;
  right: 45px;
  color: white;
}
.double-arr-3 {
  position: absolute;
  top: 409px;
  right: 45px;
  color: white;
}

.Cash-1 {
    position: absolute;
    top: -1px;
    right: 269px;
}
.Waiter-2 {
   position: absolute;
   top: 2px;
   right: 269px;
}

.Card-3 {
  position: absolute;
  top: 2px;
  right: 269px;
}
