<a href="#" class="btn btn-primary rounded-circle basket-button" tabindex="-1" role="button">
    <svg width="20" height="20" viewBox="0 0 41 31" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M41 12.7323V13.8394C41 14.7566 40.2352 15.5001 39.2917 15.5001H38.7222L36.8635 28.1483C36.623 29.7846 35.1815 31 33.4812 31H7.5188C5.81851 31 4.37696 29.7846 4.13644 28.1483L2.27778 15.5001H1.70833C0.764835 15.5001 0 14.7566 0 13.8394V12.7323C0 11.8151 0.764835 11.0716 1.70833 11.0716H6.5017L14.1024 0.91213C14.8423 -0.076819 16.2668 -0.295548 17.2842 0.423745C18.3016 1.14304 18.5265 2.52786 17.7866 3.51687L12.1346 11.0716H28.8654L23.2134 3.51681C22.4735 2.52786 22.6985 1.14297 23.7159 0.423676C24.7331 -0.295617 26.1578 -0.0769574 26.8977 0.912061L34.4983 11.0716H39.2917C40.2352 11.0716 41 11.8151 41 12.7323ZM22.2083 24.9108V17.1608C22.2083 16.2436 21.4435 15.5001 20.5 15.5001C19.5565 15.5001 18.7917 16.2436 18.7917 17.1608V24.9108C18.7917 25.8279 19.5565 26.5715 20.5 26.5715C21.4435 26.5715 22.2083 25.8279 22.2083 24.9108ZM30.1806 24.9108V17.1608C30.1806 16.2436 29.4157 15.5001 28.4722 15.5001C27.5287 15.5001 26.7639 16.2436 26.7639 17.1608V24.9108C26.7639 25.8279 27.5287 26.5715 28.4722 26.5715C29.4157 26.5715 30.1806 25.8279 30.1806 24.9108ZM14.2361 24.9108V17.1608C14.2361 16.2436 13.4713 15.5001 12.5278 15.5001C11.5843 15.5001 10.8194 16.2436 10.8194 17.1608V24.9108C10.8194 25.8279 11.5843 26.5715 12.5278 26.5715C13.4713 26.5715 14.2361 25.8279 14.2361 24.9108Z" fill="#C4C4C4"/>
    </svg>
    <span class="basket-button-badge">
     1
    </span>
</a>
