<div class= "banner_summary_page">
        <h1>Thank you for visiting our restaurant!
        </h1>
</div>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80vh; margin: 20px;">

  <img src="" alt="">
</div>
