<div class= "banner_summary_page h-auto mb-5">
        <h1>Thank you for visiting our restaurant!
        </h1>
</div>
<div class="mr-2 ml-2">
    <h2 style=color:#BB9C4F>Leave A REVIEW TO GET A 5% DISCOUNT ON YOUR ORDER
    </h2>

  <section class="payment-btn-container">
          <%= link_to "LEAVE A REVIEW", review_path, class: 'payment-buttons'%>
  </section>
</div>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80vh; margin: 20px;">

  <img src="" alt="">
</div>
