<div class= "banner_summary_page h-auto mb-5">
        <h1>Your payment was successful!
        <br>
        <br>
        </h1>
</div>
<div style="display: flex; justify-content: center; align-items: center; margin: 20px;">

  <%= image_tag image_path("waiter-order.png"), height: "200px" %>
</div>

<div class="mr-2 ml-2" style="margin-top: 40px; margin-bottom: 30px;">
  <h1>Please leave a review after eating!</h1>
</div>
<div class="mr-2 ml-2">
    <h2 style=color:#BB9C4F>
    </h2>

  <section class="payment-btn-container">
          <%= link_to "LEAVE A REVIEW", table_review_path, class: 'payment-buttons-two'%>
  </section>
</div>
