<div class="checkout-container m-4">
  <section class="payment-btn-container">
    <%= link_to "WAITER", "#", class: 'payment-buttons'%>
    <%= link_to "DESK", "#", class: 'payment-buttons'%>
    <%= link_to "CARD", "#", class: 'payment-buttons'%>
  </section>
</div>

<section class="checkout-footer m-4">
  <h2><strong>Total:</strong></h2>
  <h2><strong>250kr</strong></h2>
</section>
