    <div class= "banner_summary_page">
        <h1>The waiter will be with you shortly
        </h1>
    </div>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80vh; margin: 20px;">

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4ETxTsuB08nnS-R6HRFF1IGFyZ9_v_7Jo0Tid_FvQcLVjl2VYJZ0BRwkSrrIt8DBNjYg&usqp=CAU" alt="">
</div>
