<div class= "banner-front_page">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr9dUi9twxxGK6Mt3fD61Z54uIGPdaoo8hetCPLvgJN8u4YQQuUZ75s24MXU3_EcqOVzM&usqp=CAU" alt="" class="avatar-bordered-large">
    <h1>Pizza Hut
    </h1>
    <p>Select a category
    </p>
</div>
<div class= category-menu-container>
    <% @categories.each do |category|%>
      <%= link_to category, items_path(category), class:"btn category-menu_card #{category.downcase} btn-lg " %>
    <% end %>
</div>
