<div class= "banner-front_page">
    <img src="assets/pizza_hut" alt="" class="avatar-bordered-large">
    <h1>Pizza Hut
    </h1>
    <p>
    </p>
</div>
<div class= category-menu-container>
    <% @categories.each do |category|%>
      <%= link_to category, items_path(category), class:"btn category-menu_card #{category.downcase} btn-lg " %>
    <% end %>
</div>
