<div class= "banner-front_page">
    <div class= "avatar-bordered-large">
    </div>
    <h1>Pizza Hut
    </h1>
    <p>Select a category
    </p>
</div>

<div class= category-menu-container>
    <% @categories.each do |category|%>
        <a href="#" class="btn category-menu_card btn-lg" tabindex="-1" role="button">
            <%=category%>
        </a>
    <% end %>
</div>


