<div class= "banner-front_page">
    <div class= "avatar-bordered-large">
    </div>
    <h1>Pizza Hut
    </h1>
    <p>Select a category
    </p>
</div>

<div class= category-menu-container>
    <% @categories.each do |category|%>
      <%= link_to category, items_path(category), class:"btn category-menu_card btn-lg" %>
    <% end %>
</div>
