<div class= "banner-front_page">
    <%= image_tag ('logo.png'), class: "avatar-bordered-large" %>
    <br>
    <h1>Nicola's Dolce Vita
    </h1>
    <p>Select a category
    </p>
</div>
<div class= category-menu-container>
    <% @categories.each do |category|%>
      <%= link_to category, table_items_path(@table, category), class:"btn category-menu_card #{category.downcase} btn-lg " %>
    <% end %>
</div>
