
<div class="container-dish">
  <div class="dish-card">
    <div class="item-picure">
      <img src="https://images.pexels.com/photos/704569/pexels-photo-704569.jpeg?cs=srgb&dl=pexels-daria-shevtsova-704569.jpg&fm=jpg" />
      <p>9.7</p>
    </div>
    <div class="dish-content">
      <div class="title-plus-minus">
        <h2>Detroit</h2>
        <p>- 1 +</p>
      </div>
        <p>Tomato souce, garlic, orefani and fresh bazil</p>
      <div class="category-name-price">
        <p>Pizza</p>
        <p>76kr</p>
      </div>
    </div>
  </div>
</div>
