  <div class="dish-card">
    <div class="dish-picture">
      <p><i class="fa-regular fa-star"></i> 9.7</p>
    </div>
    <div class="dish-card-content">
      <div class="title-plus-minus">
        <h2>Detroit</h2>
        <p><i class="fa-solid fa-circle-minus"></i> 1 <i class="fa-solid fa-circle-plus"></i></p>
      </div>
          <p>Tomato souce, garlic, orefani and fresh bazil</p>
      <div class="category-name-price">
        <h6>Pizza</h6>
        <h6>76kr</h6>
      </div>
    </div>
  </div>
