<% @categories.each do |category| %>
  <h1 class="h1-dish-card"><%= category.capitalize.pluralize(2) %></h1>
    <% @items.where("category = '#{category}'").each do |item| %>
      <%= render "dish_card", item: item %>
    <% end %>
<% end %>

<%= render "shared/basket_button" %>
<div class="button-background-colour"></div>
