.banner-front_page{
    background: $light-dark-gray;
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 16px 0px 0px 0px;
    .avatar-bordered-large{
    background-color: $dark-gray;
    border-color: $dark-gray;
    }
    h1{
        color: $white;
        padding-left: 0;
    }
     p{
        color: $white;
    }
}