.banner-front_page{
    background: $sub-main-color;
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 16px 0px 0px 0px;
    .avatar-bordered-large{
    background-color: $main-color;
    border-color: $main-color;
    }
    h1{
        color: $sub-sub-main-color;
        padding-left: 0;
    }
     p{
        color: $sub-sub-main-color;
    }
}
