
.dish-card {
  display: flex;
  padding-bottom: 16px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 150px;
  margin-bottom: 10px;
  border-bottom: #e9e8e8 solid 4px;
  p {
  padding-left: 12px;
  color: #606060;
  font-size: 12px;
  max-height: 60px;
  overflow: auto;
  padding-bottom: 10px;
  margin-bottom: 5px;
  }
  h2 {
  color: #3F4447;
  font-size: 18px;
  padding-left: 12px;
  font-weight: bold;
  }
}

.dish-card-content {
  flex: 1;
  .title-plus-minus {
  display: flex;
  justify-content: space-between;
   h2 {
     flex: 1
   }
   .dish-content-desc {
     color: black;
   }
  }

  .category-name-price {
    display: flex;
    justify-content: space-between;
  }
  .fa-solid {
    color: #6B7379;
  }
  h6 {
    color: #3F4447;
    font-size: 14px;
    font-weight: bold;
    padding-left: 12px;
  }
}

.dish-picture {
  width: 122px;
  height: 100%;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 11px;
  padding-left: 5px;
  padding-right: 66px;
  padding-top: 5px;
  p {
  background: #6B7379;
   color: white;
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 12px;
  }
}
