// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "_dish_card";
@import "buttons";

h1 {
  color: #3F4447;
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;
  }
