// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "_dish_card";
@import "buttons";
@import "banner-front_page";
@import "_order_card";


h1 {
  color: $title-dish-card;
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;
  }
