.navbar-lewagon {
  justify-content: space-between;
  background: $sub-main-color;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  color: $main-color;
  font-family: 'Knewave', cursive;
  font-size: 24;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
