.navbar-lewagon {
  justify-content: space-between;
  background: $light-dark-gray;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-back >svg {
  fill: #BB9C4F;
}

.logo {
  color: #6B7379;
  font-family: 'Knewave', cursive;
  font-size: 24;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
