.navbar-lewagon {
  justify-content: space-between;
  background: $sub-main-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-back >svg {
  fill: #BB9C4F;
}

.logo {
  color: $main-color;
  font-family: 'Knewave', cursive;
  font-size: 24;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-container {
  min-height: 40px;
  background-color: #F1EBDC;
}
