
.order-card {
  display: flex;
  padding-bottom: 16px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  margin-bottom: 10px;
  border-bottom: #e9e8e8 solid 4px;
  margin-top: 12px;
  p {
  padding-left: 12px;
  color: $dark-gray;
  font-size: 12px;
  // max-height: 60px;
  // overflow: auto;
  padding-bottom: 10px;
  margin-bottom: 5px;
  }
  h2 {
  color: #3F4447;
  font-size: 18px;
  padding-left: 12px;
  font-weight: bold;
  }
}

.order-card-content {
  flex: 1;
  .title-plus-minus {
  display: flex;
  justify-content: end;
   h2 {
     flex: 1
   }
   .order-content-desc {
     color: black;
   }
   p {
     font-size: 16px;
   }
   i {
     font-size: 16px;
   }
  }

  .order-category-name-price {
    display: flex;
    justify-content: end;
  }
  .fa-solid {
    color: $main-color;
  }
  h6 {
    color: #3F4447;
    font-size: 16px;
    font-weight: bold;
    padding-left: 12px;
  }
}
