.banner_summary_page{
    background: $light-dark-gray;
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 65px 0px 0px 0px;
    height: 108px;
    h1{
        color: $white;
        padding-left: 12px;
    }
}
