// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/main_components";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery-bar-rating/dist/themes/css-stars";

// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  text-decoration: none;
  &:hover {
  color: white !important;
  text-decoration: none;
  }
}
