<%= render 'shared/review_page' %>
<div data-controller="leave-review">
  <% @order.item_orders.each do |item_order| %>
        <div class="order-card">
            <div class="order-card-content">
              <div class="title-plus-minus">
                <h2><%= item_order.item.name %></h2>
                  <%= render partial: 'reviews/form' %>
              </div>
            </div>
        </div>
        <% end %>
  </div>
<div style="margin: 20px;">
<%= link_to "SUBMIT REVIEWS",table_review_success_path(@table), class: 'payment-buttons-two' %>
</div>
